.appointment-section{
    background-image: url("https://disin-react.hibootstrap.com/images/appointment-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
}