.doctor-team-section .doctor-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 15px;
}

.doctor-team-section .section-heading h2{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    margin: 35px 0px;

}


.doctor-team-section .section-heading h2::after{
    content: "";
    position: absolute;
    bottom: -10px;left: 0px;
    height: 4px;
    background-color: #0062ff;
    width: 100px;
}

.doctor-team-section .doctor-image-box .doctor-image {
  border-radius: 15px;
  width: 100%;
}

.doctor-team-section .doctor-card .doctor-image-box > a {
  text-decoration: none;
  color: #008cff;
  font-size: 1rem;
  font-weight: 600;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  transition: all 200ms ease-out;
  display: block;
  opacity: 0;
  color: transparent;
  background-color: transparent;
  width: 185px;
  margin: 0px auto;
}
.doctor-team-section .doctor-card .doctor-image-box > a:hover{
    background-color: #1b1b1b;
    color: #fff;
}

.doctor-team-section  .doctor-image-box:hover > a {

  color: #008cff;
  background-color: #fff;
  opacity: 1;
  top: -100px;
}

.doctor-team-section .doctor-card .text-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.doctor-team-section .doctor-card .text-content h4 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}

.doctor-team-section .doctor-card .text-content p {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

